.feature__boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(220, 222, 226);
  margin: 1rem 2rem;
  padding: 1.5rem;
  width: 220px;
  height: 220px;
  border-radius: 10px;
}
.feature__boxes__img {
  background-color: var(--primary);
  padding: 10px;
  color: #fff;
  border-radius: 50%;
}

.feature__box > h2 {
  font-weight: 500;
}

.feature__box > p {
  color: var(--lite);
}

@media only screen and (min-width: 676px) {
  .feature__box {
    margin: 1rem 3rem;
  }
}
