.lnav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 2rem;
  border-bottom: solid 1px rgb(222, 226, 226);
  align-items: center;
}

.nav__items {
  display: flex;
  align-items: center;
}
.nav__item {
  padding: 0.4rem 1rem;
  white-space: nowrap;
}

.logo {
  font-weight: 700;
  font-size: 1.2rem;
}

.nav__item__btn1 {
  border: none;
  background-color: #fff;
  padding: 0.4rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.nav__item__btn1:hover {
  background-color: #5c33f6;
  color: #fff;

  border-radius: 12px;
}
.nav__item__btn2 {
  border: none;
  background-color: #5c33f6;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
}
.nav__item__btn2:hover {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 676px) {
  .lnav {
    display: none;
  }
}
/* Mobile navbar */
.mnavbar {
  display: none;
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 676px) {
  .mnavbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: solid 1px rgb(232, 236, 236);
    background-color: #fff;
    z-index: 1;
  }
}
